.twa-form-label {
    @apply text-[12px];
    color: #4b5675;
    font-weight: 500;
    line-height: 1.125rem;
}

.twa-form-input-container{
    @apply relative mt-1 rounded-md shadow-sm;
}

.lang-picker{
    padding: 0 !important;
    margin:0 !important;
    font-weight: bold;
    outline : 0;
    appearance: auto !important;
    color: #4b5675 !important;
    text-transform: lowercase;
    font-size: 10px;
    border: 0;

    &:focus{
        outline : 0;
    }
}

.twa-form-input-ring{
    
    @apply focus:ring-primary-600 focus-within:focus:ring-primary-600 focus-within:ring-primary-600 dark:focus-within:ring-primary-600 flex rounded-md ring-1 transition focus-within:ring-2 dark:ring-dark-600 dark:text-dark-300 text-gray-600 ring-gray-300 dark:bg-dark-800 form-input-element
}

.twa-form-input{
    @apply dark:placeholder-dark-400 w-full rounded-md border-0 bg-transparent py-1.5 ring-0 placeholder:text-gray-400 focus:outline-none focus:ring-transparent sm:text-sm sm:leading-6;
}

.form-error-message{
    @apply mt-2 block text-xs font-medium text-red-500;
}